 <!-- Inicio Footer -->
 <footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <img src="/images/img/ParseIdeias-logo-white.png" alt="Logo Parse Ideas" width="100%">
                <!-- <hr> -->
                <p class="m-0">Siga-nos nas redes sociais</p>
                <div class="icons-socialmedia">
                    <a href="#" class="mr-2"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="mr-2"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="mr-2"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <h2 class="mt-5">Sobre Nós</h2>

                <nav>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="/aboutus">Sobre Nós</a></li>
                        <li class="list-group-item"><a href="/#contact">Fale Conosco</a></li>
                        <li class="list-group-item"><a href="#">Ajuda</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-4 col-sm-12">
                <h2 class="mt-5">Comprar um Negócio</h2>
                <nav>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="/announcements?category=ecommerce">E-Commerce</a></li>
                        <li class="list-group-item"><a href="/announcements?category=socialmedia">Redes Sociais</a></li>
                        <li class="list-group-item"><a href="/announcements?category=solutions">Soluções</a></li>
                        <!-- <li class="list-group-item"><a href="#">Páginas Web à Venda</a></li> -->
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <hr>
    <p class="text-center py-3 m-0">&copy; Copyright 2020, Parse Ideias, All rights reserved</p>
</footer>
<!-- Fim Footer -->

