<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/img/icon-lamp.png" type="image/x-icon">
    <title>Parse Ideias - Home</title>

    <!-- Import Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" -->
    <!-- integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">   
    
    <!-- Sweet Alert Stylesheet -->
    <link rel="stylesheet" href="/css/sweetalert2.min.css">

    <!-- Base CSS -->      
    <link rel="stylesheet" href="/css/base.css">

    
    <% if(typeof css !== 'undefined'){ %> 
        <!-- Page CSS -->
        <link rel="stylesheet" href="/css/<%= css %>">
    <% } %>
</head>

<body>
 
    <header>
        <!-- Menu Parse Ideias -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/" id='image-home'><img src="/images/img/ParseIdeias-logo(1).png" alt="" srcset=""
                    width="200"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
                aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="mainMenu">
                <ul class="navbar-nav ml-auto" >
                    <li class="nav-item" id='0'>
                        <a class="nav-link btn btn-sm btn-primary btn-announcements" href="/plans"><i class="far fa-file-alt"></i> Anuncie e venda seu negócio</a>
                    </li>
                    <li class="nav-item" id='1'>
                        <a class="nav-link" href="/" id='first-active'><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ad"></i> Anúncios
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/announcements?id_category=1"><i class="fas fa-shopping-cart"></i> E-Commerce</a>
                            <a class="dropdown-item" href="/announcements?id_category=2"><i class="fas fa-hashtag"></i> Redes Sociais</a>
                            <a class="dropdown-item" href="/announcements?id_category=3"><i class="fas fa-lightbulb"></i> Soluções</a>
                        </div>
                      </li>
                    <!-- <li class="nav-item" id='2'>
                        <a class="nav-link" href="/announcements?id_category=1"><i class="fas fa-shopping-cart"></i> E-Commerce</a>
                    </li>
                    <li class="nav-item" id='3'>
                        <a class="nav-link" href="/announcements?id_category=2"><i class="fas fa-hashtag"></i> Redes Sociais</a>
                    </li>
                    <li class="nav-item" id='4'>
                        <a class="nav-link" href="/announcements?id_category=3"><i class="fas fa-lightbulb"></i> Soluções</a>
                    </li> -->
                    <li class="nav-item" id='5'>
                        <a class="nav-link" href="/aboutus"><i class="fas fa-terminal"></i></i> Sobre Nós</a>
                    </li>
                    <li class="nav-item" id='5'>
                        <a class="nav-link" href="#"><i class="fas fa-headphones-alt"></i> Contato</a>
                    </li>
                    

                    <% if ( locals.user !== undefined){%>
                        <li class="nav-item" id='admin-panel' id='6'>
                            <a class="nav-link" href="/panel"><i class="fas fa-tachometer-alt"></i> Painel</a>
                        </li>
                        <li id='user' class="dropdown nav-item" id='6'>
                            <a class="btn btn-secondary dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <% if (locals.user.thumbnail == undefined){ %>
                                    <img class ='us' src="/images/svg/profile-user.svg" alt="imagem de perfil do usuário">
                                <%}else{%>
                                    <img class ='us' src="<%= locals.user.thumbnail %>" alt="imagem de perfil do usuário">
                                <%}%>
                            </a>
                          
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a role='button' class="dropdown-item" href="/panel" ><span class='ic' ><img src="/images/svg/email.svg" alt="imagem de carta que simboliza um email"></span> Minhas mensagens</a>
                                <a role='button' class="dropdown-item" href="/panel"><span class='ic'><img src="/images/svg/notification.svg" alt="sino de notificação"></span>Meus alertas</a>
                                <a role='button' class="dropdown-item" href="/announcements/create"><span class='ic'><img src="/images/svg/plus.svg" alt="sinal de soma"></span>Criar anúncio</a>
                                <a role='button' class="dropdown-item" href="/panel"><span class='ic'><img src="/images/svg/user.svg" alt="imagem de um usuário"></span>Meu perfil</a>
                                <a role='button' class="dropdown-item" href="/logout"><span class='ic'><img src="/images/svg/logout.svg" alt="imagem de uma porta de saída"></span>Sair</a>
                            </div>
                    </li>
                    <%} else {%>
                        <li class="nav-item" id='6'>
                            <a class="nav-link" href="/auth/access"><i class="fas fa-user"></i> Acesse</a>
                        </li>
                    <%}%>

                </ul>
            </div>
        </nav>
    </header>
  