<%- include('partials/header') %> 
<main class="container py-5">
    <h3 class="text-center my-5">Página não encontrada</h3>
    <img src="/images/svg/erro404.svg" alt="Erro 404" width="40%" class="mx-auto d-block">
</main>
<%- include('partials/footer') %> 
<%- include('partials/scripts') %> 

