
main>h2{
    margin:30px;
}


div#message-content{
    position: absolute;
    width: 100%;

    /* width: 500px;
    right: 0; */
}
div#message-content div.card-body{
    background: rgb(176, 176, 206);
    min-height: 200px;
    color: white;
}

div#message-content div.card-body p{
    font-size: 1.6rem;
}

div#message-preview div.card-header{
    padding: 0;
}


div#avatar div{
    text-align: center;
}



button.btn.btn-primary{
    background: #0054AD;
}


.card{
    border:none;
    background: transparent;
}

.item .card p{
    font-size: 1.8rem;
}

#label-1 label{
    position: relative;
    background:#5A47CC;
    border:1px transparent solid;
    border-radius: 5px;
    color:white;
    cursor: pointer;
    margin: 10px;
    padding: 6px 20px;
    z-index:1;
    text-align: center;
    width: 400px;
    font-size: 1.6rem;

    transition: all 400ms;
  }

  #label-1 label:hover{
    border:1px #5A47CC solid;
    background: rgb(118, 99, 228);
  }


  main {
    min-height:100%;
    position:relative;
  }

/* img.card-img-top{
    height: 315px;
} */
div#user-data{
    border-radius: 5px;
    margin-bottom: 20px;
}

div.card#user-data img.card-img-top{
    border-radius: 5px 5px 0 0;
    height: 305px;
}

div#user-data{
    background-color: white;
    box-shadow: 5px 5px 5px gray;
    
}

#alter-photo {
    position: absolute;
    background: white;
    padding: 20px;
    width: 50px;
    height: 50px;
    z-index: 5;
    right:5px;
    top:49%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px gray;

}
#user-data{
    position: relative;
}

span#alter-photo img{
    position: absolute;
    height: 35px;
    width: 35px;
    top:50%;
    transform: translateY(-50%);
    cursor: pointer;
    left: 9px;

    
}

  #user-img figure{
      height: 100px;
      width: 100px;
      margin: 30px auto;
  }

  #user-img figure img{
    height: 100%;
    width: 100%;
}

  input[ type='file' ] {
    display:none;
    position: absolute;
    z-index:2;

  }

#accordion>.container-fluid div.item{
    display: inline-block;
    height: 180px;
    width: 180px;
    margin: auto 10px;
    cursor: pointer;
}


#accordion>.container-fluid div.item img,
#accordion>.container-fluid div.item i{
    width: 40px;
    height: 40px;
    margin: auto;
}

#accordion>.container-fluid,#contain{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 20px;
}

#accordion>.container-fluid{
    text-align: center;
}


div#headingOne.btn,
div#headingTwo.btn,
div#headingThree.btn,
div#headingFour.btn,
div#headingFive.btn,
div#headingSix.btn{
    width: 100%;
    height: max-content;
    padding: 0;
    padding: 20px;
    border-radius: 5px;
    border:2px #F2F2F2 solid;

}

div#headingOne.btn[aria-expanded="true"],
div#headingTwo.btn[aria-expanded="true"],
div#headingThree.btn[aria-expanded="true"],
div#headingFour.btn[aria-expanded="true"],
div#headingFive.btn[aria-expanded="true"],
div#headingSix.btn[aria-expanded="true"]{
    box-shadow: 5px 5px 10px gray;
    color:white;
    font-weight: bold;
    border:none;
}

div#headingOne.btn[aria-expanded="true"]{
    background-color: #4040DD;
}

div#headingTwo.btn[aria-expanded="true"]{
    background-color: rgb(39, 206, 136);
}

div#headingThree.btn[aria-expanded="true"]{
    background-color: rgb(238, 137, 43);
}

div#headingFour.btn[aria-expanded="true"]{
    background-color: turquoise;
}

div#headingFive.btn[aria-expanded="true"]{
    background-color: rgb(61, 211, 61);
}

div#headingSix.btn[aria-expanded="true"]{
    background-color: rgb(212, 21, 21);
}

div.btn[aria-expanded="true"] img.card-img-top{
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(237deg) brightness(110%) contrast(101%);
}

#accordion .col-md-2{
    border:none;
}


input{
    height: 50px;
    border:none;
    width: 100%;
    margin:10px auto;
    padding: 10px;
    border-radius:5px;
}

div#exampleModal,
div#exampleModal2{
    font-size:1.6rem
}

div#exampleModal h5,
div#exampleModal2 h5,
div#exampleModal3 h5{
    font-size: 2.5rem;
    color: gray;
}

div#exampleModal input,
div#exampleModal2 input{
    height: 45px;
    border:none;
    border-bottom: 2px rgb(187, 175, 175) solid;
}

div#exampleModal input:focus,
div#exampleModal2 input:focus{
box-shadow: 0 0 0 0;
outline: 0;
} 

div#exampleModal div.form-group,
div#exampleModal2 div.form-group{
    margin-bottom: 30px;
}


div#exampleModal h5,
div#exampleModal2 h5,
div#exampleModal3 h5{
    margin: 10px auto;
}

div#exampleModal3 figure{
    margin: 20px auto;
    text-align: center;
}

div#exampleModal3 figure img.card-img-top{
    height: 250px;
    width: 250px;
    margin:auto;
    border-radius: 50%;
    
}

div#exampleModalLong .modal-body{
    padding: 0;
    min-height: 500px;
}

div#exampleModalLong .messageDiv .cont{
    display: flex;
    justify-content: space-between;
}

div#exampleModalLong div.messageDate span{
    font-size: 1.5rem;
    color: rgb(182, 137, 53);
}



div#exampleModalLong div.messageDiv{
    border-bottom:1px rgb(160, 155, 155) solid;
    cursor: pointer;
    padding: 10px;
    transition: 400ms;
    width: 100%;
}

div#exampleModalLong div.messageDiv:hover{
    box-shadow: 5px 5px 5px gray;

}

div#exampleModalLong div.container-fluid{
    padding: 0;

}

div#exampleModalLong .viewMore button{
    font-size: 1.7rem;
    width: 100%;
    border:none;
    height: 50px;
    border-top:1px rgb(118, 99, 228) solid;
    border-bottom:1px rgb(118, 99, 228) solid;
    background: transparent;
    color: rgb(118, 99, 228);
    outline: none;

    transition: 400ms;

}

div#exampleModalLong .viewMore button:hover{
    background: rgb(118, 99, 228);
    color:white;
}

div.messageDiv div.messageDescription{
    font-size: 1.7rem;
    justify-content: center;
}

div.messageDiv div.messageDescription p{
    text-justify: distribute;
}

#alter,#alter-pass,#alter-user-photo{
    border:1px  rgb(61, 211, 61) solid;
    background-color:transparent;
    color: rgb(61, 211, 61);
    width:100%;
}
#fechar,
#fechar-pass,
#fechar-photo,
#fechar-messages{
    border:1px red solid;
    background: transparent;

    color: red;
    width: 100%;
}

#alter:hover,
#alter-pass:hover,
#alter-user-photo:hover{
    background-color: rgb(61, 211, 61);
    color: white;
}

#fechar:hover,
#fechar-pass:hover,
#fechar-photo:hover,
#fechar-messages:hover{
    background-color: red;
    color: white;
}

div.button {
    display: flex;
    flex-flow: row wrap;    
}

div.card#ann-plan{
        padding: 10px;
        text-align: center;
        margin-bottom: 20px;
        background: linear-gradient(rgb(130, 130, 212),#5A47CC);
        border-radius: 5px;
        box-shadow: 5px 5px 5px gray;
    
        transition: all 400ms;
}

/* div#user-data,div.card#ann-plan{
    margin-top: 20px;
} */

div.card#ann-plan h5, h4{
    border-bottom:1px rgb(218, 212, 212) solid;
    padding: 15px;
}

div.card#ann-plan div.col-md-6:nth-child(1){

    border-right:1px gray solid;

}



div.card#ann-plan h5{
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    font-size:1.8rem;
}
div.card#ann-plan h4{
    color: rgb(170, 163, 163);
    font-size:3.5rem;
}

div.card#ann-plan li{
    margin:2rem;
    font-size:1.8rem;
    color:white;
}


div#button-alter div a{
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}

div#button-alter button#alter-data{
    background: transparent;
    color: rgb(34, 34, 211);
}

div#button-alter button#alter-data:hover{
    background:rgb(34, 34, 211) ;
    color:white;
}

div#button-alter div{
    margin:30px auto;
}

div.modal-footer{
    display: flex;
    flex-flow: row nowrap;
}

div.modal-footer div{
    justify-content: center;
    width: 50%;

}


/* section#content div.row div.col-md-4{
    padding: 10px;
} */

/* #content{
    overflow: hidden;
} */

.info-user p:first-child{
    font-size: 3rem;
    color: #4040DD;
}

.info-user p{
    font-size: 1.7rem;
    color: #4040DD;
}


div.button{
    margin:30px auto;
    justify-content: center;
}


div.button button{
    width: 230px;
    margin:10px;
}

input::placeholder{
    font-size: 1.6rem;
}

main section#content{
    font-size: 16px;
    background: #F2F2F2;
    margin-top:35px;
    height: auto;
}

#butt button,.btn{
    font-size: 1.8rem;
}

input[type='file']{
    font-size: 1.6rem;
}

#user-data .card-img-top, .us{
    object-fit: cover;
}


div#headingThree.btn[aria-expanded="true"] img{
    position: relative;
    animation: mymove 1s;
  }

  @keyframes mymove{
      0%{
          transform: rotate(0deg);
      }
      25%{
        transform: rotate(-30deg);
      }
      50%{
        transform: rotate(30deg); 
      }
      75%{
          transform: rotate(-30deg);
      }
      100%{
          transform: rotate(0);
      }
  }

  div#headingFive.btn[aria-expanded="true"] img{
    position: relative;
    animation: mymove2 1s;

  }

  @keyframes mymove2{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(180deg);
    }
  }

  div#headingSix.btn[aria-expanded="true"] img{
    position: relative;
    animation: mymove3 1s;

  }

  @keyframes mymove3{

      0%{
          right:0;
      }
      25%{
          right: 30px;
      }
      to{
          right: 0;
      }
      
  }

  div#headingTwo.btn[aria-expanded="true"] img{
    position: relative;
    animation: mymove4 1s;
  }

  @keyframes mymove4{
      0%{
          transform: scale(1,1);
      }
      25%{
          transform: scale(1.5,1.5);
      }
      to{
          transform: (1,1);
      }
  }

  div#headingOne.btn[aria-expanded="false"] img#heart {
    display: none;
}


div#headingOne.btn[aria-expanded="true"] img#heart {
    position: relative;
    animation: myframe 2s infinite;

}

@keyframes myframe{
    0%{
        transform: scale(1,1);
        
    }
    20%{
        transform: scale(1.5,1.5);

    }
    40%{
        transform: scale(1,1);

    }
    60%{
        transform: scale(1.5,1.5);
 
    }
    80%{
        transform: scale(1,1);
    }

}


@media (min-width:1228px){
    ::-webkit-scrollbar-track {
        background-color: white;
    }
    ::-webkit-scrollbar {
        width: 6px;
        background: #F4F4F4;
    }
    ::-webkit-scrollbar-thumb {
        background: #dad7d7;
    }
}

/* @media (max-width:500px){

    #accordion>.container-fluid div.item{
        display: inline-block;
        scroll-snap-align: center;
        height: 180px;
        width: 180px;
        margin: auto 10px;
        cursor: pointer;
    }

    #accordion>.container-fluid{
        text-align: center;
        scroll-snap-type: x mandatory
    }
    
} */