@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

:root{
    --font: 'Roboto', sans-serif;
    --primary-color: #5A47CC;
    --secondary-color: #39CC33;
}

*{
    box-sizing: border-box !important;
    font-family: var(--font);
    outline: 0;
    margin: 0;
    padding: 0;
}

html, 
body{
    font-size: 62.5%;
    /* font-size: 10px; */
}

header li{
    margin:auto 5px;
}

header li a{
    font-size: 16px;
}

.navbar{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header nav li .dropdown-menu{
    background: #fff;
    border: 1px solid #eee;
    font-size: 1.4rem;
    padding: .8rem;
    box-shadow: 3px 3px 3px #999;
}


/* for user */
button.navbar-toggler{
    padding: 4px 12px;
    height: 40px;
    width: 56px;
    border:none;
}

li#admin-panel{
    display: none;
}

img.us{
    width: 67px;
    height: 67px;
    border-radius:50%;
    object-fit: cover;
    border: 2px #5A47CC solid;
}

span.navbar-toggler-icon{
    height: 30px;
    width: 30px;
}
li#user div.dropdown-menu{
    left:-130px;
    /* background: #5A47CC; */
    background: #fff;
    border:1px solid #eee;
    font-size: 1.4rem;
    padding: .8rem;
    box-shadow: 3px 3px 3px #999;
}
a#dropdownMenuLink{
    background:none;
    border:none;
}

a.dropdown-item{
    color:#5A47CC;
}

a.dropdown-item:hover{
    background: linear-gradient(#fff,#eee);
    color: #5A47CC;
}

span.ic img{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 5px;
}



@media (max-width:991px){
    li#user{
        display: none;
    }

    li#admin-panel{
        display: block;

    }
}
/*  */

input[type='radio']{
    margin-right: 10px;
}




body{
    background-color: #FFFFFF;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3rem;
}

.btn-group-lg>.btn, .btn-lg{
    line-height: 3.0;
}



#mainMenu{
    font-size: 1.6rem;
}

#mainMenu .btn-primary{
    color: white;
    background-color: #5A47CC;
    border: none;
    font-size: 1.5rem;
    padding: 2rem;
}

#mainMenu .btn-primary:hover{

    background-color: #33267c;
    
}

footer{
    background-color: #1c1c1c;
    color: white;
    font-size: 1.6rem;
    padding: 2rem;
}

footer ul{
    list-style: none;
}

footer .list-group-item{
    background-color: #ffffff21;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer .icons-socialmedia{
    font-size: 3.2rem;
}