
body{
    height: 100vh;
    background: linear-gradient(to bottom,#654a86,#534292);
}

main{
    padding: 10px;
    height:auto;
}

main div#forgot-pass{
    max-width: 500px;
    margin:70px auto;
    padding: 20px;
    box-shadow: 0px 0px 5px rgb(138, 132, 132);
    border-radius: 5px;
    background: white;
}

h2{
    margin-bottom:60px;
    color:#654a86
}

form#form-forgot div.form-group{
    margin-bottom: 40px;
}

form#form-forgot input{
    height: 45px;
    padding-left: 50px;
    font-size: 16px;
    outline: none;
}

form#form-forgot input:focus{
    border: 1px #654a86 solid;
}

div#loading div.loading img{
    margin: 30px auto;
    
}

div.input-user-email{
    position: relative;
}

img#user-email{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    margin-left: 10px;

}


div.loading img{
    display: none;
    height: 45px;
    width: 45px;
}



button#sendMail{
    height: 43px;
    font-size: 1.8rem;
    background-color: #654a86;
    border: none;
}

button#sendMail:hover{
    background: #534292;
}

div.loading.true img{
    display: block;
    animation:frame1 ease-in-out infinite 2s;
}

@keyframes frame1{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}