
.title{
    font-size: 2.8rem !important;
}

#search{
    /* background-color: #5A47CC; */
    background-color: #fff;
    color: #fff;
    font-size: 1.6rem;
    padding: 40px 0;
}

#search h1{
    /* font-size: 2em; */
    font-size: 3.2rem;
    color: var(--primary-color);  
}

#search hr{
    background-color: var(--primary-color);
}

#search p{
    text-align: justify;
    font-weight: 300;
    color: var(--primary-color);
}

.formBox{
    background-color: #3f328f;
    border-radius: 10px;
    font-size: 1.6rem;
}
.formBox input,.formBox select{
    font-size: 1.6rem;
}

.formBox .btn{
    background-color: #0d0a1d;
    color: #fff;
    border-color: #0d0a1d;
    font-size: 1.6rem;
}

#recentAnnouncements{
    background-color: #eee;
    font-size: 1.6rem;
}

#recentAnnouncements .card{
    overflow: hidden;
} 

#recentAnnouncements .card h5{
    font-size: 1.6rem;
}

#recentAnnouncements .card p {
    color: var(--primary-color);
    font-size: 1.6em;
    font-weight: bold;
}

#recentAnnouncements .card .spotlight{
    position: absolute;
    width: 150px;
    text-align: center;
    background-color: var(--primary-color);
    color: white;
    top:8px;
    right: -40px;
    font-weight: bold;
    transform: rotate(32deg);
    text-transform: uppercase;
    font-size: 1.2rem;
}

#recentAnnouncements .card .categorie{
    position: absolute;
    width: 150px;
    text-align: center;
    color: white;
    top: calc(21.5rem - 1px);
    left: 0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
}

.tag-e-commerce{
    background-color: rgba(185, 0, 166, 0.8);
}

.tag-soluções{
    background-color: rgba(27, 192, 23, 0.8);
}

.tag-redessociais{
    background-color: rgba(25, 171, 181, 0.8);
}

#aboutUs{
    /* The image used */
  background-image: url("/images/img/parse_ideias_parallax.jpg");
  /* Full height */
  height: 100%;
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#aboutUs p{
    font-size: 3rem;
}

#recentAnnouncements .card .btn{
    background-color: white;
    border: 1px solid #5A47CC;
    color:#5A47CC;
    font-size: 1.6rem;
}

#recentAnnouncements .card .btn:hover{
    background-color: #5A47CC;
    color: white;
}

#recentAnnouncements .btn-primary{
    background-color: #5A47CC;
    border: 1px solid white;
    color:#fff;
    font-size: 1.6rem;
}

#recentAnnouncements .btn-primary:hover{
   font-weight: bold;
}

#howItWorks{
    background-color: #fff;
    font-size: 1.6rem;
}

#howItWorks h4{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 500;
    background-color: #5A47CC;
    color: #fff;
    padding: 1rem;
}

#howItWorks .btn{
    background-color: #5A47CC;
    border: 1px solid white;
    color:#fff;
    font-size: 1.6rem;
}

#howItWorks .btn:hover{
    font-weight: bold;
}

#howItWorks .box-image{
    /* border: 2px dotted #5A47CC; */
    box-shadow: 3px 3px 3px #999;
    padding: 1rem;
}

#howItWorks .box-image:hover{
    transition: all 100ms ease-in-out;
    border: 2px solid var(--primary-color);
}

#howItWorks .box-image:hover img{
    transform: scale(1.2);
    transition: 500ms ease-in-out;
}

.form-contact {
    width: 75%;
    background-color: white;
    padding: 32px;
    position: relative;
    margin: 0 auto;
}

.form-contact::before{
    content: '';
    display: block;
    width: 100%;
    height: 80px;
    background-color: rgb(230, 230, 230);
    position: absolute;
    top: -80px;
    left: 41px;
    transform: skew(-46deg, 0deg);
}

.form-contact::after{
    content: '';
    width: 80px;
    height: 100%;
    background-color: rgb(230, 230, 230);
    position: absolute;
    top: -39px;
    right: -82px;
    transform: skew(0deg, -44deg);
}

.form-contact input, .form-contact select, .form-contact textarea{
    font-size: 1.6rem;
}

span.error{
    display: flex;
    padding: 0;
    background-color: rgba(255, 0, 0, 0.2);
    font-size: 1.4rem;
    margin-top: 1rem;
    
}

span.error.active{
    border: 1px solid red;
    padding: 0.4em;
}

#contact{
    font-size: 1.6rem;
    background-color: var(--primary-color);
}

#contact h5{
    font-size: 1.8rem;
    padding: 1.6rem;
}

#contact .btn{
    background-color: var(--primary-color);
    border: 1px solid white;
    color:#fff;
    font-size: 1.6rem;
}

#contact .btn:hover{
    font-weight: bold;
}

.contact-header{
    margin-bottom: 130px !important;
    color: white;
}


/*Newsletter*/
section#newsletter{
    background-color: #f7f7f7!important;
    font-size: 1.6rem;
}

.form-inline {
    justify-content: center;
}

.form-control:focus{ 
    border-color: inherit; 
    -webkit-box-shadow: none; 
    box-shadow: none; 
}

button.btn-newsletter{
    font-size: 16px;
    background-color: #5A47CC;
    border: 1px solid white;

}

button.btn-newsletter:hover {
  background-color: #5A47CC;
  border: 0px;
  
}


.modal{
    border: 0;
    font-size: 1.6rem;
}

.modal h2{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
}

.modal .btn {
    font-size: 1.6rem;
}

.card-body-container{
    height: 100px;
}

.newsletter div.form-group input{
    font-size: 1.6rem !important;
}



.swal2-popup{
    font-size: 1.6rem !important;
}


@media (max-width:1200px){
    #recentAnnouncements .card .categorie{
        top: calc(17.0rem - 1px);
    }
}


@media (max-width:991px){
    #recentAnnouncements .card .categorie{
        top: calc(11.5rem - 1px);
    }
}

@media (max-width:768px){
    #search .col:nth-child(2){
        display: none;
    }

    .card{
        margin-bottom: 2em;
    }

    #howItWorks img{
       width: 50%;
    }

    #howItWorks .box-image{
        margin-bottom: 16px;
    }

    #recentAnnouncements .card .categorie{
        top: calc(32.0rem - 1px);
    }

    .form-contact {
        width: 100%;
    }

    .form-contact::after {
        content: '';
        display: none;
    }

    .form-contact::before {
        content: '';
        display: none;
    }

}

@media (max-width:540px){
    #recentAnnouncements .card .categorie{
        top: calc(31.5rem - 1px);
    }
}

@media (max-width:512px){
    #recentAnnouncements .card .categorie{
        top: calc(29.5rem - 1px);
    }
}

@media (max-width:480px){
    #recentAnnouncements .card .categorie{
        top: calc(25.5rem - 1px);
    }
}

@media (max-width:430px){
    #recentAnnouncements .card .categorie{
        top: calc(22.5rem - 1px);
    }
}

@media (max-width:380px){

    html{
        font-size: 50%;
    }

    #recentAnnouncements .card .categorie{
        top: calc(22.5rem - 1px);
    }
}

@media (max-width:340px){
    #recentAnnouncements .card .categorie{
        top: calc(18.5rem - 1px);
    }
}

@media (max-width:270px){
    #recentAnnouncements .card .categorie{
        top: calc(15.5rem - 1px);
    }
}


