@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #EAE8F6;
}

/* === Content === */

div.modal-body,div.modal-body form{
  padding: 0;
}

button.close{
  position: absolute;
  right: 2px;
}

div.modal-content{
  border:none;
  box-shadow: 5px 5px 10px rgb(59, 57, 57);
}

div.modal-body form input:focus{
  box-shadow: 5px 3px 7px #d1c6c6;
  background-color: #f2f2f2;
}

.content {
  height: 80vh;
}
.content h1 {
  font-size: 4rem;
  font-weight: 300;
  padding-top: 40px;
}

.box span{
  font-size: 1.8rem;
}

/* botões google e facebook */
  .content-reg{
    text-align: center;
    padding-left: 30px;
  }
  #image-reg{
    position: absolute;
    background: white;
    top: 50%;
    transform: translateY(-50%);
    padding: 6px;
    border-radius: 2px;
    border:1px gray solid;
  }
  #image-box-g,#image-box-f{
    position: relative;
    padding: 10px 0px;
    height: 40px;
    text-decoration: none;

    font-size: 1.5rem;
    font-weight: bold;
    color:white;
    
    border-radius: 2px;

    cursor: pointer;
  }
  #access{
    margin:10px 0;
  }
  img#login,img#register{
    margin-left: 50%;
    transform: translateX(-50%);
    height: 70px;
    width: 70px;
  }
  #image-box-g{
    background-color: #3C79E6;
    border-right:1px white solid;

  }

  .modal-body{
    margin:20px;
  }
  #image-box-f{
    background: #3B5998;
    border-left:1px white solid;

  }
  p.par{
  text-align: center;
  font-size: 1.8rem;
}

div.conf-pass{
  position: relative;
}

img.eyes{
  position: absolute;
  height: 40px;
  width: 40px;
  right: 0;
  padding: 5px;
  top:50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* fim */

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  height: 300px;
  border-radius: 5px;
  margin-top: 60px;
  -webkit-box-shadow: 0px 2px 28px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 28px -9px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 28px -9px rgba(0,0,0,0.75);
  font-size: 2rem;
}

.box a {
  background-color: #F2F2F2;
  padding: 8px 40px;
  border-radius: 5px;
  margin: 0px 10px;
  text-decoration: none;
  font-size: 2rem;
  color: #000000;
}

.box a:hover {
  opacity: 0.8;
  transition: 200ms;
}

/* === Modal === */

button.close {
  text-align: right;
  margin-right: 5px;
}

.modal-title {
  font-size: 2rem;
}

input.form-control{
  height: 45px;
  font-size: 16px;
}

.form-control {
  border: 0px;
  background-color: #f2f2f2;
}

.btn-success {
  font-size: 2rem;
  color: #fff;
  background-color: #1BC017;
  border-color: #1BC017;
  padding-right: 20px;
  padding-left: 20px;
  margin:10px 0;
}

.forget-password a {
  text-decoration: none;
  font-size: 12px;
  color: #898080;
}

.forget-password a:hover {
  opacity: 0.8;
}

.modal-content button span{
  font-size: 3rem;
}

.mb-2{
  font-size: 2rem;
}

@media (max-width: 575.98px) {
  .content h1 {
    font-size: 28px;
    padding-top: 30px;
  }
  .box {
    margin-top: 30px;
  }
  .box a {
    padding: 4px 10px;
  }
  a.btn {
    font-size: 18px;
  }

  .icon img{
    width: 25px;
    margin-right: 6px;
  }
}

/* @media (max-width: 991.98px) { 
  .nav-link.button{
    max-width: 200px;
  }
} */