body{
    background: #F2F2F2 !important;
}

#pay{
    background: white;
}

.recurly-element, .recurly-hosted-field{
    height: 50px;
  }

  .form-row>.col, .form-row>[class*=col-] {
    padding-right: 0px;
    padding-left: 0px;
}



h1{
    font-size: 4rem;
    padding: 20px;
    font-style: none;
}

section{
    margin-bottom: 100px;
}

span.ic img{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

/* payment div */

.section>div.row{
    margin-top: 100px;
}

#pay{
    padding: 50px;
    min-height: 95vh;
}

#pay>div label{
    font-size: 1.8rem;
}

#pay div.credit-cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

#pay div.credit-cards div{
    border: 2px rgb(172, 165, 165) solid;
    padding: 3px 10px;
    border-radius: 3px;
    justify-self: flex-start;
    margin: 3px;
}

#pay div.credit-cards img{
    height: 30px;
    width: 32px;
}



#pay>div.credit-cards div.credit-card{
    padding: 2px;
}

#label-1,#label-2{
    padding: 10px;
}

section form button.btn{
    font-size: 2rem;
    border:none;
    padding: 10px;
}

/* input[type='checkbox'],input[type='radio']{
    
} */

form label {
    font-size: 1.8rem;
}

form input::placeholder{
    font-size: 1.6rem;
}

form#my-form .form-row input{
    height: 50px;
    width: 100%;
    border: 1px #d7d7d9 solid;
    font-size: 16px;
}

form#my-form input.dataInput{
    padding: 15px;
    font-weight: bold;
    visibility: visible;
    color:rgb(84, 84, 87);
    border-radius: 3px;

    transition-duration: 400ms;
}

form#my-form input.dataInput:focus{
    border:1px gray solid;
}

form#my-form .form-row .col-md-6.col-sm-12:nth-child(1){
    padding-right: 5px;
}

form#my-form select{
    padding: 15px;
    font-weight: bold;
    visibility: visible;
    color:rgb(84, 84, 87);
    height: 50px;
    width: 100%;
    border: 1px #d7d7d9 solid;
    font-size: 16px;
    border-radius: 3px;
}



section div.row #pay-info form div,div#pay #pay-info div{
    margin:15px auto;
}
section span#security-info{
    display: block;
    margin-top: 20px;
    font-size: 12px;
}

.form-check-label{
    margin-left: 10px;
}

/* hr{
    border-bottom: 1px gray solid;
} */



/* value of payment */

.planvalue{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}

#total{
    font-weight: bold;
    border-top: 1px gray solid;
}

#value .card{
    font-size: 1.8rem;
    margin-top: 0;
}

section .card-body{
    width: 100%;
}

section .card{
    background: #5A47CC;
    min-height: 260px;
    height: auto;
    margin-top: 90px;
}

section .card div.card-body{
 padding: 20px;
}


.container .card-body>div{
    background: white;
    padding: 10px;

}

section .card-body p{
    padding: 10px;
}

section h5{
    font-size:2.2rem;
    color: white;
    font-weight: bold;
}


@media (max-width:1200px){
    form label {
        font-size: 1rem;
    }
}

@media (max-width:767px){
    form label {
        font-size: 1.6rem;
    }

    section .card{
        margin-top:20px;
    }
    section #pay{
        padding: 20px;
    }
}

@media (max-width:767px){
    form#my-form .form-row input#surnameInput,
    form#my-form .form-row input#cityInput{
        margin-left: 0px;
    }
}

/* Loading Animation */

.animation{
    display: none;
    top:50%;
    transform: translateY(50%);
    width: 100%;
}

.animation-wrapper .animation-screen{
    margin: 20px auto;
    text-align: center;
}

.animation-wrapper .animation-screen img{
    height: 120px;
    width: 120px;
}


.animation.show{
    display: block;
}

.animation-wrapper .animation-image.start img{
    animation:frame1 ease-in-out infinite 1.5s;
}

@keyframes frame1{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

div.animation-text div.text-content{
    text-align: center;
    margin-top: 50px;
}

div.animation-text div.text-content p{
    font-size: 25px;
    color: #5A47CC;
    animation: frame2 ease-out infinite 5s;
}

@keyframes frame2{
    0%{
        opacity: 100%;
    }
    25%{
        opacity: 50%;
    }
    50%{
        opacity: 100%;
    }
    75%{
        opacity: 50%;
    }
}

/* Loading Animation */




