<%- include('../partials/header') %>

<main>
    <section id="aboutUs" class="container">
        <h2 class="mt-5">#Sobre Nós</h2>
        <p>A <strong>ParseIdeas®</strong>, é uma startup inovadora com foco em solucionar problemas para vender um negócio consolidado.</p>
        <p>Criada em janeiro de 2020, através do programa <strong>Santander Coders</strong> na Digital House Brasil. </p>
        <hr>
        <p>Os principais seguimentos de atividades são:</p>
        <ul>
            <li>E-Commerce</li>
            <li>Redes Sociais</li>
            <li>Soluções</li>
        </ul>
    </section>
    <section id="team" class="container mb-5">
        <h2>#Equipe</h2>
        <div class="card-group">
            <div class="card text-center">
              <img class="card-img-top" src="/images/img/bruno_rafael.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Bruno Rafael</h5>
                <p class="card-text">Desenvolvedor FullStack.</p>
              </div>
              <div class="card-footer">
               <i class="fab fa-github"></i>
               <i class="fab fa-linkedin"></i>
              </div>
            </div>
            <div class="card text-center">
              <img class="card-img-top" src="/images/img/carolina.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Carolina Cabril</h5>
                <p class="card-text">Desenvolvedora FullStack.</p>
              </div>
              <div class="card-footer">
               <i class="fab fa-github"></i>
               <i class="fab fa-linkedin"></i>
              </div>
            </div>
            <div class="card text-center">
              <img class="card-img-top" src="/images/img/bruno_lazzaro.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Bruno Lazzaro</h5>
                <p class="card-text">Desenvolvedor FullStack.</p>
              </div>
              <div class="card-footer">
               <i class="fab fa-github"></i>
               <i class="fab fa-linkedin"></i>
              </div>
            </div>
            <div class="card text-center">
                <img class="card-img-top" src="/images/img/bruno_ramos.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Bruno Ramos</h5>
                    <p class="card-text">Desenvolvedor FullStack.</p>
                </div>
                <div class="card-footer">
                 <i class="fab fa-github"></i>
                 <i class="fab fa-linkedin"></i>
                </div>
              </div>
              <div class="card text-center">
                <img class="card-img-top" src="/images/img/guilherme.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Guilherme Sprovieri</h5>
                    <p class="card-text">Desenvolvedor FullStack.</p>
                </div>
                <div class="card-footer">
                 <i class="fab fa-github"></i>
                 <i class="fab fa-linkedin"></i>
                </div>
              </div>
          </div>
    </section>
</main>

<%- include('../partials/footer') %>
<%- include('../partials/scripts') %>
</body>
</html>