<%- include('../partials/header') %>

<main>
    <div id='forgot-pass'>
      <h2 class='text-center'>Digite seu e-mail cadastrado</h2>
        <form action='/forgot?_method=PATCH' method="POST" class="form-access" id='form-forgot'>
            <div class="form-group">
              <ul style='list-style: none;padding: 0;' id='erros0'></ul>
              <input type="email" required
              title='Digite seu email' name='email' class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="e-mail">
              <ul style='list-style: none;padding: 0;' id='erros1'></ul>
            </div>
            <button type="submit" class="btn btn-success col-md-12" id='sendMail'>Enviar</button>
            
          </form>
    </div>
</main>


<script src="/js/forgotPassword.js"></script>
<%- include('../partials/scripts') %>

</body>
</html>