<%- include('../partials/header') %>

<main>
    <div id='form-forgot'>
        <form action='/auth/access/login' method="POST" class="mt-4 form-access" id='form-login'>
            <div class="form-group">
              <ul style='list-style: none;padding: 0;' id='erros0'></ul>
              <input type="email" required
              title='Digite seu email' name='email' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="e-mail">
              <ul style='list-style: none;padding: 0;' id='erros1'></ul>
            </div>
            <div class="form-group">
              <input type="password" required 
              title='Digite sua senha' name='senha' class="form-control" id="exampleInputPassword1" placeholder="senha">
              <ul style='list-style: none;padding: 0;' id='erros2'></ul>
            </div>
            <button type="submit" class="btn btn-success col-md-12" >Entrar</button>
            
          </form>
    </div>
</main>

<%- include('../partials/scripts') %>