<%- include('../partials/header') %> 

<main>
<div class="content">
  <div class="container">
    <h1 class="text-center">Para anunciar registre-se ou faça login</h1>
    <div class="box">
      <a href="#" class="btn icon" data-toggle="modal" data-target="#modallogin"><img class="mr-sm-1 mr-md-3" src="/images/svg/login.svg" alt="open">Login</a>
      <span>ou</span>
      <a href="#" class="btn icon" data-toggle="modal" data-target="#modalcreate"><img class="mr-sm-1 mr-md-3" src="/images/svg/register.svg" alt="open">Registrar</a>
    </div>
  </div>
</div>

<!-- Modal Login -->
<div class="modal fade" id="modallogin" tabindex="-1" role="dialog" aria-labelledby="modallogin" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button mr-auto" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
        <img src="/images/svg/login.svg" alt="Login" id='login'>
        <form action='/auth/access/login' method="POST" class="mt-4 form-access" id='form-login'>
          <div class="form-group">
            <ul style='list-style: none;padding: 0;' id='erros0'></ul>
            <input type="email" required
            title='Digite seu email' name='email' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="e-mail">
            <ul style='list-style: none;padding: 0;' id='erros1'></ul>
          </div>
          <div class="form-group">
            <input type="password" required 
            title='Digite sua senha' name='senha' class="form-control" id="exampleInputPassword1" placeholder="senha">
            <ul style='list-style: none;padding: 0;' id='erros2'></ul>
          </div>
          <button type="submit" class="btn btn-success col-md-12" >Entrar</button>
          <p class='par'>ou</p>

          <div id = 'access' class='container'>

            <div class='row'>
              <a class='col-md-6 col-sm-12 mb-3' id='image-box-g' href='/auth/access/google'>
                <img id='image-reg'  src="/images/svg/google.svg" alt="google">
                <div class='wrap-g'>
                  <div class='content-reg'>
                    Entrar com Google
                  </div>
                </div>
              </a>

              
              <a class='col-md-6 col-sm-12 mb-3' id='image-box-f' href="/auth/access/facebook">
                <img id='image-reg' src="/images/svg/facebook.svg" alt="facebook">
                <div class='wrap-f'>
                  <div class='content-reg'>
                    Entrar com Facebook
                  </div>
                </div>
              </a>

            </div>

          </div>
          <span class="forget-password ml-2"><a href="/password/forgot">Esqueci minha senha?</a></span>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Register -->
<div class="modal fade" id="modalcreate" tabindex="-1" role="dialog" aria-labelledby="modalcreate" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button mr-auto" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
        <img src="/images/svg/register.svg" alt="Registro" id='register'>
        <form action='/auth/access/register' method="POST" class="container mt-4 form-access" id='form-register'>
          <div class="form-row ">
            <div class='col-md-6 col-sm-12 mb-3'>
            <input type="text" required 
            title='Digite seu nome' name='nome' class="form-control" id= "exampleInputName2" aria-describedby="nameHelp" placeholder="nome">
            <ul style='list-style: none;padding: 0;' id='erros3'></ul>
          </div>
          <div class='col-md-6 col-sm-12 mb-3'>
            <input type="text" 
            title='Digite seu sobrenome' name='sobrenome' class="form-control" id="exampleInputSurname2" aria-describedby="surnameHelp" placeholder="sobrenome">
          </div>
          </div>

          <div class="form-group">
            <input type="email" required 
            title='Digite seu email' name='email' class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp" placeholder="e-mail">
            <ul style='list-style: none;padding: 0;' id='erros4'></ul>
          </div>
          <div class="form-group">
            <input type="password" required 
            title="Digite sua senha" name='senha' class="form-control" id="exampleInputPassword2" placeholder="senha">
            <ul style='list-style: none;padding: 0;' id='erros5'></ul>
          </div>
          <div class="form-group">
            <div class='conf-pass'>
              <input type="password" required 
              title="Confirme sua senha" name='conf-senha' class="form-control" id="exampleInputConfPassword2" placeholder="confirme sua senha">
              <img src="/images/svg/illuminati.svg" alt="" class='eyes'>
            </div>
            <ul style='list-style: none;padding: 0;' id='erros6'></ul>
          </div>
          <div class="mb-2">
            <button type="submit" class="btn btn-success mr-2 col-md-12">Registrar-se</button> 
            <p class='par'>ou</p>
            
            <div id = 'access' class='container'>

              <div class='row'>
                <a class='col-md-6 col-sm-12 mb-3' id='image-box-g' href='/auth/access/google'>
                  <img id='image-reg'  src="/images/svg/google.svg" alt="google">
                  <div class='wrap-g'>
                    <div class='content-reg'>
                      Registrar com Google
                    </div>
                  </div>
                </a>

                
                <a class='col-md-6 col-sm-12 mb-3' id='image-box-f' href="/auth/access/facebook">
                   <!-- href="/auth/access/facebook" -->
                  <!-- <div class="improve">
                    Em manutenção
                  </div> -->

                  <img id='image-reg' src="/images/svg/facebook.svg" alt="facebook">
                  <div class='wrap-f'>
                    <div class='content-reg'>
                      Registrar com Facebook
                    </div>
                  </div>
                </div>
                </a>

              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</main>

<script src="/js/formSend.js"></script>

<%- include('../partials/scripts') %>

</body>
</html>
