<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/img/icon-lamp.png" type="image/x-icon">
    <title>Parse Ideias - Pagamento</title>

    <!-- Import Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" -->
        <!-- integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->

    <link rel="stylesheet" href="/css/bootstrap.min.css">    

    <!-- Base CSS -->      
    <link rel="stylesheet" href="/css/base.css">

    <link href="https://js.recurly.com/v4/recurly.css" rel="stylesheet" type="text/css">

    <!-- payment CSS -->
    <link rel="stylesheet" href="/css/payment.css">

</head>

<body>
    <header>
        <!-- Menu Parse Ideias -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/" id='image-home'><img src="/images/img/ParseIdeias-logo(1).png" alt="" srcset=""
                    width="200"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
                aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="mainMenu">
                <ul class="navbar-nav ml-auto" >
                    <li class="nav-item" id='0'>
                        <a class="nav-link btn btn-sm btn-primary btn-announcements" href="/plans"><i class="far fa-file-alt"></i> Anuncie e venda seu negócio</a>
                    </li>
                    <li class="nav-item" id='1'>
                        <a class="nav-link" href="/" id='first-active'><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ad"></i> Anúncios
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/announcements?id_category=1"><i class="fas fa-shopping-cart"></i> E-Commerce</a>
                            <a class="dropdown-item" href="/announcements?id_category=2"><i class="fas fa-hashtag"></i> Redes Sociais</a>
                            <a class="dropdown-item" href="/announcements?id_category=3"><i class="fas fa-lightbulb"></i> Soluções</a>
                        </div>
                      </li>
                    <!-- <li class="nav-item" id='2'>
                        <a class="nav-link" href="/announcements?id_category=1"><i class="fas fa-shopping-cart"></i> E-Commerce</a>
                    </li>
                    <li class="nav-item" id='3'>
                        <a class="nav-link" href="/announcements?id_category=2"><i class="fas fa-hashtag"></i> Redes Sociais</a>
                    </li>
                    <li class="nav-item" id='4'>
                        <a class="nav-link" href="/announcements?id_category=3"><i class="fas fa-lightbulb"></i> Soluções</a>
                    </li> -->
                    <li class="nav-item" id='5'>
                        <a class="nav-link" href="/aboutus"><i class="fas fa-terminal"></i></i> Sobre Nós</a>
                    </li>
                    <li class="nav-item" id='5'>
                        <a class="nav-link" href="/#contact"><i class="fas fa-headphones-alt"></i> Contato</a>
                    </li>
                    

                    <% if ( locals.user !== undefined){%>
                        <li class="nav-item" id='admin-panel' id='6'>
                            <a class="nav-link" href="/panel"><i class="fas fa-tachometer-alt"></i> Painel</a>
                        </li>
                        <li id='user' class="dropdown nav-item" id='6'>
                            <a class="btn btn-secondary dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <% if (locals.user.thumbnail == undefined){ %>
                                    <img class ='us' src="/images/svg/profile-user.svg" alt="imagem de perfil do usuário">
                                <%}else{%>
                                    <img class ='us' src="<%= locals.user.thumbnail %>" alt="imagem de perfil do usuário">
                                <%}%>
                            </a>
                          
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a role='button' class="dropdown-item" href="/panel" ><span class='ic' ><img src="/images/svg/email.svg" alt="imagem de carta que simboliza um email"></span> Minhas mensagens</a>
                                <a role='button' class="dropdown-item" href="/panel"><span class='ic'><img src="/images/svg/notification.svg" alt="sino de notificação"></span>Meus alertas</a>
                                <a role='button' class="dropdown-item" href="/announcements/create"><span class='ic'><img src="/images/svg/plus.svg" alt="sinal de soma"></span>Criar anúncio</a>
                                <a role='button' class="dropdown-item" href="/panel"><span class='ic'><img src="/images/svg/user.svg" alt="imagem de um usuário"></span>Meu perfil</a>
                                <a role='button' class="dropdown-item"href="/plans/list"><i class="far fa-file-alt"></i> Planos</a>
                                <a role='button' class="dropdown-item" href="/logout"><span class='ic'><img src="/images/svg/logout.svg" alt="imagem de uma porta de saída"></span>Sair</a>
                            </div>
                    </li>
                    <%} else {%>
                        <li class="nav-item" id='6'>
                            <a class="nav-link" href="/auth/access"><i class="fas fa-user"></i> Acesse</a>
                        </li>
                    <%}%>

                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section>

            <div class="container">
                <h1 class='text-center'>Quase lá!</h1>

                <div class="row">
                <div id="pay" class='col-md-7 col-sm-12'>
                    <div class="animation">
                    <div class='animation-wrapper'>
                        <div class="animation-screen">
                            <div class='animation-image'>
                                <img src="/images/svg/loading.svg" alt="Imagem de carregamento" srcset="">
                            </div>
                        </div>
                    </div>
                    <div class="animation-text">
                        <div class='text-content'>
                            <p></p>
                            
                        </div>
                    </div>
                </div>

                <div class='result-success' style="display: none;">
                    <div class='title-container'>
                        <div class='title-content'>
                            <h2></h2>
                        </div>
                    </div>
                    <div class='image-result-container'>
                        <div class='image-result-content'>
                            <img src="" alt="images do resultado">
                        </div>
                    </div>
                    <div class='message-result-container'>
                        <div class='message-result-content'>
                            <p></p>
                            <p id='sent-email' style='color:green' ></p>
                        </div>
                    </div>
                </div>
                
                    <div id='pay-info'>
                        <div id='pay-images'>
                            <h2 class='text-center'>Assinatura</h2>
                            <h4>Cartões aceitos</h4>
                            <div class='credit-cards'>
                                <div class='credit-card'>
                                    <img src="/images/svg/visa.svg" alt="">
                                </div>
                                <div class='credit-card'>
                                    <img src="/images/svg/master.svg" alt="">
                                </div>
                                <div class='credit-card'>
                                    <img src="/images/svg/amex.svg" alt="">
                                </div>
                                <div class='credit-card'>
                                    <img src="/images/svg/discover.svg" alt="">
                                </div>
                                <div class='credit-card'>
                                    <img src="/images/svg/jcb.svg" alt="">
                                </div>
                                <div class='credit-card'>
                                    <img src="/images/svg/d-club.svg" alt="">
                                </div>
                                <div class='credit-card'>
                                    <img src="/images/svg/union-pay.svg" alt="">
                                </div>
                            </div>
                        </div>

                        <!-- <div class="btn-group btn-group-toggle" data-toggle="buttons">

                            <label id='label-1' class="btn btn-info active">
                            <input type="radio" name="options" id="option1" autocomplete="off" checked> Cartão de crédito
                            </label>

                            <label id='label-2' class="btn btn-info">
                            <input type="radio" name="options" id="option2" autocomplete="off"> Cartão de débito
                            </label>
                        
                        </div> -->

                        
                            <form id="my-form" action='/plans/signPlan' method='POST'>

                                 <div class='form-row'>
                                    <div class="col-md-6 col-sm-12">
                                        <input type="text" data-recurly="first_name" id='nameInput' class='dataInput' placeholder="Nome">
                                        <ul id='first-name-error'></ul>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <input type="text" data-recurly="last_name" id='surnameInput' class='dataInput' placeholder="Sobrenome">
                                        <ul id='last-name-error' ></ul>
                                    </div>
                                </div>
                            
                                <div id="recurly-elements">
                                <!-- Recurly Elements will be attached here -->
                                </div>
                                <ul id='card-error' ></ul>

                                <div class="form-row">
                                    <div class="col-12">
                                        <select class="SelectInput-select" data-recurly="country" name="billing_info[country]" id="billing_info_country" tabindex="0">
                                            <option value="">País...</option>
                                        </select>
                                    </div>
                                </div>
                                <div id='local-address' style='height: 0;opacity: 0;display: none;'>
                                    <div class='form-row'>
                                        <div class="col-md-6 col-sm-12">
                                            <input type="text" data-recurly="postal_code" id='postalInput' class='dataInput' placeholder="Código Postal">
                                            <ul id='cep-error' ></ul>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <input type="text" data-recurly="city" id='cityInput' class='dataInput' placeholder="Cidade">
                                            <ul id='city-error' ></ul>
                                        </div>
                                    </div>

                                    <div class='form-row'>
                                        <div class="col">
                                            <input type="text" data-recurly="address1" id='addressInput' class='dataInput' placeholder="Endereço">
                                            <ul id='address-error'></ul>
                                        </div>
                                    </div>
                                </div>

                            
                                <!-- Recurly.js will update this field automatically -->
                                <input type="hidden" name="recurly-token" data-recurly="token">


                                <button id='sign-button' style="width: 100%;" class="btn btn-primary">Assinar</button>

                            <span id='security-info'>Informações seguras e criptografadas</span>
                            <hr>
                        </form>

                    </div>
                </div>

                <div id="value" class='col-md-5 col-sm-12'>

                    <div class="card" >
                          <div class="card-body">
                            <h5 class="card-title">Plano</h5>
                            <div>
                                <div class='planvalue'>
                                    <p>Plano <%= plan.nome %></p>
                                    <p>R$ <%= plan.valor %></p>

                                </div>
                                <div class='planvalue' id='total'>

                                    <p>Total</p>
                                    <p>R$ <%= plan.valor %></p>

                                </div>
                            </div>

                        </div>
                      </div>
                </div>
            </div>

            </div>

        </section>
    </main>


    <!-- Inicio Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <img src="/images/img/ParseIdeias-logo-white.png" alt="" width="100%">
                    <!-- <hr> -->
                    <p class="m-0">Siga-nos nas redes sociais</p>
                    <div class="icons-socialmedia">
                        <a href="#" class="mr-2"><i class="fab fa-facebook"></i></a>
                        <a href="#" class="mr-2"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="mr-2"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <h2 class="mt-5">Sobre Nós</h2>

                    <nav>
                        <ul class="list-group">
                            <li class="list-group-item"><a href="#">Quem Somos</a></li>
                            <li class="list-group-item"><a href="#">Fale Conosco</a></li>
                            <li class="list-group-item"><a href="#">Ajuda</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-4 col-sm-12">
                    <h2 class="mt-5">Comprar um Negócio</h2>
                    <nav>
                        <ul class="list-group">
                            <li class="list-group-item"><a href="#">E-Commerce</a></li>
                            <li class="list-group-item"><a href="#">Redes Sociais</a></li>
                            <li class="list-group-item"><a href="#">Soluções</a></li>
                            <li class="list-group-item"><a href="#">Páginas Web à Venda</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <hr>
        <p class="text-center py-3 m-0">&copy; Copyright 2020, Parse Ideias, All rights reserved</p>
    </footer>
    <!-- Fim Footer -->

    <!-- Import Jquery -->
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script> -->

    <script src="/js/jquery-3.4.1.min.js"></script>


    <!-- Import Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>

    <!-- Import Bootstrap JS
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script> -->

    <script src="/js/bootstrap.min.js"></script>

    <!-- Import Font Awesome -->
    <script src="https://kit.fontawesome.com/c439770d8e.js" crossorigin="anonymous"></script>

    <script src="https://js.recurly.com/v4/recurly.js"></script>

    <script src="/js/paymentForm.js"></script>
</body>
</html>