<%- include('../partials/header') %>

<main>
    <div id='reset-pass'>
        <form action='/reset?_method=PATCH' method="POST" class="mt-4 form-access" id='form-reset'>
          <h2 class='text-center' id='title'>Defina sua nova senha</h2>
            <div class="form-group">
                <ul style='list-style: none;padding: 0;' id='erros0'></ul>
                <input type="password" required
                title='Digite sua nova senha' name='newPass' class="form-control" id="exampleInputNewPass" aria-describedby="passlHelp" placeholder="nova senha">
                <ul style='list-style: none;padding: 0;' id='erros1'></ul>
              </div>
              <div class="form-group">
                <input type="password" required
                title='Confirme sua nova senha' name='confPass' class="form-control" id="exampleInputConfNewPass" aria-describedby="passHelp" placeholder="confirme sua nova senha">
                <ul style='list-style: none;padding: 0;' id='erros2'></ul>
              </div>
            <button type="submit" class="btn btn-success col-md-12" id='sendMail'>Enviar</button>
            
          </form>
    </div>
</main>

<script src="/js/resetPassword.js"></script>
<%- include('../partials/scripts') %>