<%- include('../partials/header') %> 

    <!-- Section Recent Announcements -->
    <section id="announcements">
        <div class="container py-4">
            <!-- Primeira Linha  -->
            <div class="row my-4">
                <!-- Search Form -->
                <div class="col-md-4 col-sm-12 my-5">
                   <form action="" class="form box-search p-4 hide" id='searchBlock'>
                    <div class="form-group">
                        <label for="">Tipo de Negócio:</label>
                        <select name="type" class="form-control" id="type">
                            <option value="">Todos</option>
                            <option value="">E-Commerce</option>
                            <option value="">Redes Sociais</option>
                            <option value="">Soluções</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="segment">Segmento:</label>
                        <select name="segment" class="form-control" id="segment">
                            <option value="">Todos</option>
                            <option value="">E-Commerce</option>
                            <option value="">Redes Sociais</option>
                            <option value="">Soluções</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Palavra-chave:</label>
                        <input type="text" name="keyword" class="form-control" placeholder="ex: e-commerce de roupas">
                    </div>
                    <div class="form-group">
                        <label for="">Valor de Venda:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            <span class="input-group-text">De:</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                            
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            <span class="input-group-text">Até:</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Faturamento Médio Mensal:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            <span class="input-group-text">De:</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">  
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            <span class="input-group-text">Até:</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"> 
                        </div>
                    </div>
                    <div class="form-group mt-5">
                        <button class="btn btn-lg btn-block" id='apply-1'>Aplicar</button>
                        <button class="btn btn-lg btn-block" id='remove-1'>Remover Filtro</button>
                    </div>
                   </form>
                <!-- End Search Form -->
                <div class="hide" id='search' data-toggle="modal" data-target="#modal2">
                    <img src="/images/svg/search.svg" alt="">
                </div>
                </div>
                <div class="col-md-8 col-sm-12">
                    <h2 class="mt-5 text-left"><strong>E-Commerce à Venda</strong></h2>
                    <p>Excelentes oportunidades de negócios em todo o Brasil.</p>
                   <div class="row">
                    <div class="col-md-6 col-sm-12 my-4">
                        <!-- Card -->
                        <div class="card">
                            <img src="/images/img/carlos-muza-hpjSkU2UYSU-unsplash.jpg" class="card-img-top" alt="...">
                            <!-- Adiciona Tag de Destaque -->
                            <span class="spotlight p-2">Destaque</span>
                            <!-- Adiciona Tag de Categoria -->
                            <span class="categorie tag-ecommerce p-2">E-commerce</span>
                            <div class="card-body">
                                <h5 class="card-title">E-Commerce de roupas com painel administrativo</h5>
                                <p class="card-text">R$ 50.000,00</p>
                                <a href="#" class="btn btn-primary">+ Detalhes</a>
                            </div>
                        </div>
                        <!-- Fim do Card  -->
                    </div>
                    <div class="col-md-6 col-sm-12 my-4">
                        <!-- Card -->
                        <div class="card">
                            <img src="/images/img/carlos-muza-hpjSkU2UYSU-unsplash.jpg" class="card-img-top" alt="...">
                            <!-- Adiciona Tag de Destaque -->
                            <span class="spotlight p-2">Destaque</span>
                            <!-- Adiciona Tag de Categoria -->
                            <span class="categorie tag-ecommerce p-2">E-commerce</span>
                            <div class="card-body">
                                <h5 class="card-title">E-Commerce de roupas com painel administrativo</h5>
                                <p class="card-text">R$ 50.000,00</p>
                                <a href="#" class="btn btn-primary">+ Detalhes</a>
                            </div>
                        </div>
                        <!-- Fim do Card  -->
                    </div>
                    <div class="col-md-6 col-sm-12 my-4">
                        <!-- Card -->
                        <div class="card">
                            <img src="/images/img/carlos-muza-hpjSkU2UYSU-unsplash.jpg" class="card-img-top" alt="...">
                            <!-- Adiciona Tag de Destaque -->
                            <span class="spotlight p-2">Destaque</span>
                            <!-- Adiciona Tag de Categoria -->
                            <span class="categorie tag-ecommerce p-2">E-commerce</span>
                            <div class="card-body">
                                <h5 class="card-title">E-Commerce de roupas com painel administrativo</h5>
                                <p class="card-text">R$ 50.000,00</p>
                                <a href="#" class="btn btn-primary">+ Detalhes</a>
                            </div>
                        </div>
                        <!-- Fim do Card  -->
                    </div>
                    <div class="col-md-6 col-sm-12 my-4">
                        <!-- Card -->
                        <div class="card">
                            <img src="/images/img/carlos-muza-hpjSkU2UYSU-unsplash.jpg" class="card-img-top" alt="...">
                            <!-- Adiciona Tag de Destaque -->
                            <span class="spotlight p-2">Destaque</span>
                            <!-- Adiciona Tag de Categoria -->
                            <span class="categorie tag-ecommerce p-2">E-commerce</span>
                            <div class="card-body">
                                <h5 class="card-title">E-Commerce de roupas com painel administrativo</h5>
                                <p class="card-text">R$ 50.000,00</p>
                                <a href="#" class="btn btn-primary">+ Detalhes</a>
                            </div>
                        </div>
                        <!-- Fim do Card  -->
                    </div>
                    <div class="col-md-6 col-sm-12 my-4">
                        <!-- Card -->
                        <div class="card">
                            <img src="/images/img/carlos-muza-hpjSkU2UYSU-unsplash.jpg" class="card-img-top" alt="...">
                            <!-- Adiciona Tag de Destaque -->
                            <span class="spotlight p-2">Destaque</span>
                            <!-- Adiciona Tag de Categoria -->
                            <span class="categorie tag-ecommerce p-2">E-commerce</span>
                            <div class="card-body">
                                <h5 class="card-title">E-Commerce de roupas com painel administrativo</h5>
                                <p class="card-text">R$ 50.000,00</p>
                                <a href="#" class="btn btn-primary">+ Detalhes</a>
                            </div>
                        </div>
                        <!-- Fim do Card  -->
                    </div>
                    <div class="col-md-6 col-sm-12 my-4">
                        <!-- Card -->
                        <div class="card">
                            <img src="/images/img/carlos-muza-hpjSkU2UYSU-unsplash.jpg" class="card-img-top" alt="...">
                            <!-- Adiciona Tag de Destaque -->
                            <span class="spotlight p-2">Destaque</span>
                            <!-- Adiciona Tag de Categoria -->
                            <span class="categorie tag-ecommerce p-2">E-commerce</span>
                            <div class="card-body">
                                <h5 class="card-title">E-Commerce de roupas com painel administrativo</h5>
                                <p class="card-text">R$ 50.000,00</p>
                                <a href="#" class="btn btn-primary">+ Detalhes</a>
                            </div>
                        </div>
                        <!-- Fim do Card  -->
                    </div>
                    
                   </div>
                </div>
            </div>
            <!-- Fim da Primeira Linha -->

             <!-- Inicio Modal -->
    <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background:transparent;">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <form action="" class="form box-search p-4">
                    <div class="form-group">
                        <label for="">Tipo de Negócio:</label>
                        <select name="type" class="form-control" id="type">
                            <option value="">Todos</option>
                            <option value="">E-Commerce</option>
                            <option value="">Redes Sociais</option>
                            <option value="">Soluções</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Segmento:</label>
                        <select name="type" class="form-control" id="type">
                            <option value="">Todos</option>
                            <option value="">E-Commerce</option>
                            <option value="">Redes Sociais</option>
                            <option value="">Soluções</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Palavra-chave:</label>
                        <input type="text" name="keyword" class="form-control" placeholder="ex: e-commerce de roupas">
                    </div>
                    <div class="form-group">
                        <label for="">Valor de Venda:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            <span class="input-group-text">De:</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                            
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            <span class="input-group-text">Até:</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Faturamento Médio Mensal:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            <span class="input-group-text">De:</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">  
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            <span class="input-group-text">Até:</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"> 
                        </div>
                    </div>
                    <div class="form-group mt-5">
                        <button class="btn btn-lg btn-block" id='apply-2'>Aplicar</button>
                        <button class="btn btn-lg btn-block" id='remove-2'>Remover Filtro</button>
                    </div>
                   </form>
                </div>
            </div>
        </div>
        </div>
        </div>
    </div>

        </div>
    </section>
    <!-- Fim da Section Recent Announcements -->

    

    <%- include('../partials/footer') %> 
    <script src="/js/searchBar.js"></script>
    <%- include('../partials/scripts') %> 